*{
  margin: 0;  
  padding:0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

nav{
    background-color: #1F2937;
    /* padding-left: 0%; */
    display: flex;
    flex-direction: column;
}
nav ul li {
    font-size: 18px;
    color: #e5e7eb; 
    
}
.navbar {
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 1rem;
    padding-left:8%;
    padding-right:8%;
    
}

.navbar ul{
    display:flex;
    gap:2rem;
}

.navbar ul li {
    list-style: none;
}
.navbar .logo{
  font-size: 24px;
  color: #f9faf8;
 
}

.logo {
    font-weight: bolder;
}

.hero{
    font-size: 18px;
    color: #e5e7eb;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 2rem;
    padding-top:8%;
    padding-bottom:6%;
    padding-left:6%;
    padding-right: 8%;


}

.hero-img {
    flex:1; 
}

.hero-img img {
    width: 100%;
    height:auto;
    min-width:370px;
}

.hero-text {
    flex:1;
    display: flex;
    flex-direction: column;
    min-width: 350px;
    gap:1rem;
    justify-content: space-around;
   
}
.hero h1 {
    font-size: 48px;
    font-weight: extra-bold;
    color: #f9faf8;
}

.hero button {
    background-color: #3882f6;
    color: #f9faf8;
    border:none;
    padding :0.5rem;
    font-weight: bolder;
    font-size: 18px;
    width: 8rem;
    border-radius: .5rem;
}

/* MAIN SECTION */
.locations{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding-top: 2rem;
    padding-bottom:6%;
}
.locations h1{
    text-align: center;
    font-size: 36px;
    font-weight: extra-bold;
}
.card-group{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 3rem;
    padding-bottom: 3rem;
    /* width: 40vw; */
    gap:2rem;
    
}

.card {
    width: 11rem;

}

.card-img{
    border: 0.15rem #3882f6 solid;
    border-radius: 0.5rem;
    width: 100%;
    height: auto;
}

.testimonial {
    background-color: #e5e7eb;
    padding-top:5%;
    padding-bottom: 6%;
}

.testimonial>p{
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    color: #1f2937;
    padding-left: 10%;
    padding-right: 10%;
}
.testimonial>p>span{
    font-weight: bold;

}
footer{
    background-color: #1F2937;  
}